
.relatedproduct {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    height: 90vh;
    /* margin-bottom: 600px; */
}


.relatedproduct h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproduct hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.relatedproduct-item {
    margin-top: 50px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;   */
    display: flex;
    gap: 30px;
}